/* :root {
  --header-color: #6FC1FF;
  --secondary-background-color: #222A30;
  --background-color: #111518;
  --text-color: #D6EDFF;
  --banner-hover-color: #333F48;
  --faint-text-color: #94A5B3;
  --accent-color: #E6898C;
  --gold-color: #E6D68A;
} */

@font-face {
  font-family: 'Roboto';
  src: url('../public/fonts/RobotoSlab-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Monaspace';
  src: url('../public/fonts/JetBrainsMono-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg: #ffffff;       /* black background   */
  --fg: #00af35;    /* green foreground   */
  --font: "Courier New", Courier, monospace;
}

/* --- reset & layout --- */
/* Full-viewport black canvas */
html, body {
  height: 100%;
  margin: 0;
  background: #ffffff;
}

#bg {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  align-items: center;   /* vertical centering */
  justify-content: center; /* horizontal centering */
  background: var(--bg);
}

/* --- heading --- */
h1 {
  color: var(--fg);
  font-family: var(--font);
  font-size: 3rem;       /* tweak size as you like */
  margin: 0;
  text-align: center;
}

#three-container{width:100%;height:100%;}
.footer{
  position:fixed;right:0;bottom:0;left:0;
  padding:10px;font:12px 'Roboto',sans-serif;text-align:right;
  background:#343436;color:#fff;
}
.footer-anchor{
  color:#000;background:#fcd000;border-radius:4px;padding:2px 4px;
  text-decoration:none;margin-left:5px;
}